<nz-table #collectionsTable [nzData]="filteredCollections" [nzLoading]="loading">
  <thead>
  <tr>
    <th nzColumnKey="id">Collection ID</th>
    <th nzColumnKey="invoiceNumber" [nzSortFn]="sortInvoiceNumber">Invoice Number</th>
    <th nzColumnKey="date" [nzSortFn]="sortCollectionDate">Collection Date</th>
    <th nzColumnKey="amount" [nzSortFn]="sortPaymentAmount">Amount</th>
    <th nzColumnKey="status" [nzSortFn]="sortStatus" [nzFilters]="statusFilterOptions"
        (nzFilterChange)="filterStatus($event)">Status
    </th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let collection of collectionsTable.data">
    <td>COLL-{{ collection.id }}</td>
    <td>{{ collection.invoiceNumber }}</td>
    <td>{{ collection.date | date }}</td>
    <td>{{ collection.amount | currency:'KES ':'symbol-narrow':'1.2-2' }}</td>
    <td>
      <nz-tag class="capitalize" [nzColor]="collection.status === 'valid' ? 'blue' : 'warning'">
        {{ collection.status }}
      </nz-tag>
    </td>
    <td>
      <button nz-button nzType="primary" nzSize="small" (click)="_updateCollectionStatus(collection)">
        Update Status
      </button>
    </td>
  </tr>
  </tbody>
</nz-table>
