<div class="flex justify-between items-center mb-6">
  <h2 class="mb-0">
    School Invoices
  </h2>

  <button nz-button nzType="primary" (click)="invoiceSchool()">
    Add Invoice
    <span class="ml-2">
      <i nz-icon nzType="plus"></i>
    </span>
  </button>
</div>

<app-invoice-list
  [invoices]="invoices"
  [loading]="fetchingInvoices"
  (collectInvoicePayment)="collectPayment($event)"
  (updateInvoice)="handleUpdateInvoice($event)"
  (deleteInvoice)="handleDeleteInvoice($event)"
></app-invoice-list>

@if (invoicePaymentCollectionState.isAddingCollectionToInvoice) {
  <app-collect-payment
    [isVisible]="invoicePaymentCollectionState.isAddingCollectionToInvoice"
    [invoice]="invoicePaymentCollectionState.selectedInvoice"
    (paymentCollectionCancelled)="closePaymentCollectionModal()"
    (paymentCollectionSuccessful)="closePaymentCollectionModal(); fetchInvoices()"
  ></app-collect-payment>
}

@if (invoiceUpdateCreateState.status !== 'idle') {
  <app-create-invoice
    [isVisible]="true"
    [school]="invoiceUpdateCreateState.selectedSchool"
    [invoice]="invoiceUpdateCreateState.selectedInvoice"
    (invoiceCreationCancelled)="closeInvoiceCreationModal()"
    (invoiceCreationSuccess)="closeInvoiceCreationModal(); fetchInvoices()"
  ></app-create-invoice>
}
