<div class="flex justify-between items-center mb-6">
  <h2 class="mb-0">
    School Invoices
  </h2>

  <button nz-button nzType="primary" (click)="invoiceSchool()">
    Add Invoice

    <span class="ml-2">
      <i nz-icon nzType="plus"></i>
    </span>
  </button>
</div>

<nz-table #basicTable [nzData]="invoices" [nzLoading]="fetchingInvoices">
  <thead>
  <tr>
    <th>Invoice ID</th>
    <th>Amount Due</th>
    <th>Due Date</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let invoice of basicTable.data">
    <td>
      <a nz-button nzType="link" [routerLink]="[invoice.id]">
        {{ invoice.id }}
      </a>
    </td>
    <td>{{ invoice.amountDue | currency: 'KSH ' }}</td>
    <td>{{ invoice.dueDate | date }}</td>
    <td>
      <nz-tag [nzColor]="invoice.status === 'pending' ? 'orange' : 'green'" class="capitalize">
        {{ invoice.status }}
      </nz-tag>
    </td>
    <td>
      <button nz-button nzType="primary" nzSize="small" (click)="collectPayment(invoice)">
        Collect Payment
      </button>
    </td>
  </tr>
  </tbody>
</nz-table>

<!-- This is to make the compiler happy-->
@if (invoicePaymentCollectionState.isAddingCollectionToInvoice) {
  <app-collect-payment
    [isVisible]="invoicePaymentCollectionState.isAddingCollectionToInvoice"
    [invoice]="invoicePaymentCollectionState.selectedInvoice"
    (paymentCollectionCancelled)="closePaymentCollectionModal()"
    (paymentCollectionSuccessful)="closePaymentCollectionModal(); fetchInvoices()"
  />
}

@if (invoiceCreationState.isCreatingInvoice) {
  <app-create-invoice
    [isVisible]="invoiceCreationState.isCreatingInvoice"
    [school]="invoiceCreationState.selectedSchool"
    (invoiceCreationCancelled)="closeInvoiceCreationModal()"
    (invoiceCreationSuccess)="closeInvoiceCreationModal(); fetchInvoices()"
  />
}
