<nz-table #basicTable [nzData]="filteredInvoices" [nzLoading]="loading">
  <thead>
  <tr>
    <th>Invoice ID</th>
    <th nzColumnKey="amountDue" [nzSortFn]="sortAmountDue">Amount Due</th>
    <th nzColumnKey="dueDate" [nzSortFn]="sortDueDate"
        [nzSortOrder]="defaultSortOrder"
    >Due Date
    </th>
    <th nzColumnKey="status" [nzSortFn]="sortStatus"
        [nzFilters]="statusFilterOptions"
        (nzFilterChange)="filterStatus($event)"
    >Status
    </th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let invoice of basicTable.data">
    <td>
      <a nz-button nzType="link" [routerLink]="[invoice.id]">
        {{ invoice.id }}
      </a>
    </td>
    <td>{{ invoice.amountDue | currency: 'KSH ' }}</td>
    <td>{{ invoice.dueDate | date }}</td>
    <td>
      <nz-tag [nzColor]="invoice.status === 'pending' ? 'orange' : 'green'" class="capitalize">
        {{ invoice.status }}
      </nz-tag>
    </td>
    <td>
      <nz-button-group>
        <button nz-button nzType="primary" nzSize="small" (click)="collectPayment(invoice)">
          Collect Payment
        </button>

        <button nzSize="small" nz-button nz-dropdown [nzDropdownMenu]="menu1" nzPlacement="bottomRight">
          <span nz-icon nzType="down"></span>
        </button>

        <nz-dropdown-menu #menu1="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="handleUpdateInvoice(invoice)">Update Invoice</li>
            <li nz-menu-item (click)="handleDeleteInvoice(invoice)">Delete Invoice</li>
          </ul>
        </nz-dropdown-menu>
      </nz-button-group>
    </td>
  </tr>
  </tbody>
</nz-table>
