<app-invoice-list
  [showSchoolName]="true"
  (collectInvoicePayment)="handleCollection($event)"
  (updateInvoice)="handleUpdateInvoice($event)"
  (deleteInvoice)="handleDeleteInvoice($event)"
  [invoices]="upcomingInvoices"
  [loading]="fetchingUpcomingInvoices"
></app-invoice-list>

<!-- This is to make the compiler happy-->
@if (invoicePaymentCollectionState.isAddingCollectionToInvoice) {
  <app-collect-payment
    [isVisible]="invoicePaymentCollectionState.isAddingCollectionToInvoice"
    [invoice]="invoicePaymentCollectionState.selectedInvoice"
    (paymentCollectionCancelled)="closeCollectionModal()"
    (paymentCollectionSuccessful)="closeCollectionModal(); fetchUpcomingInvoices()"
  />
}

@if (invoiceUpdateCreateState.status !== 'idle') {
  <app-create-invoice
    [isVisible]="true"
    [school]="invoiceUpdateCreateState.selectedSchool"
    [invoice]="invoiceUpdateCreateState.selectedInvoice"
    (invoiceCreationCancelled)="closeInvoiceCreationModal()"
    (invoiceCreationSuccess)="closeInvoiceCreationModal(); fetchUpcomingInvoices()"
  ></app-create-invoice>
}
