<app-invoice-list
  [showSchoolName]="true"
  (collectInvoicePayment)="handleCollection($event)"
  (updateInvoice)="fetchUpcomingInvoices()"
  (deleteInvoice)="fetchUpcomingInvoices()"
  [invoices]="upcomingInvoices"
  [loading]="fetchingUpcomingInvoices"
></app-invoice-list>

<!-- This is to make the compiler happy-->
@if (invoicePaymentCollectionState.isAddingCollectionToInvoice) {
  <app-collect-payment
    [isVisible]="invoicePaymentCollectionState.isAddingCollectionToInvoice"
    [invoice]="invoicePaymentCollectionState.selectedInvoice"
    (paymentCollectionCancelled)="closeCollectionModal()"
    (paymentCollectionSuccessful)="closeCollectionModal(); fetchUpcomingInvoices()"
  />
}
