<div class="bg-white -mx-6 -mt-6 px-6 pt-6">
  <h1 class="mb-0">
    {{ school?.name }}
  </h1>

  <nz-affix [nzOffsetTop]="10">
    <nav class="tabs-container">
      <nz-tabset nzLinkRouter class="*:mb-0">
        <nz-tab>
          <a *nzTabLink nz-tab-link [routerLink]="['.']">
            Primary Information
          </a>
        </nz-tab>

        <nz-tab>
          <a *nzTabLink nz-tab-link [routerLink]="['invoices']">
            Invoices
          </a>
        </nz-tab>

        <nz-tab>
          <a *nzTabLink nz-tab-link [routerLink]="['collections']">
            Collections
          </a>
        </nz-tab>
      </nz-tabset>
    </nav>
  </nz-affix>
</div>

<section class="mt-6">
  <router-outlet></router-outlet>
</section>
