<div class="flex justify-between items-center mb-6">
  <h2 class="mb-0">
    School Collections
  </h2>
</div>

<app-collections-list
  [collections]="collections"
  [loading]="fetchingCollections"
  (updateCollectionStatus)="updateCollectionStatus($event)"
></app-collections-list>

@if (updatingCollectionState.isUpdating && updatingCollectionState.selectedCollection) {
  <!--    If the above if statement is true, then this is visible-->
  <app-update-collection-status
    [isVisible]="true"
    [collection]="updatingCollectionState.selectedCollection"
    (statusUpdateCancelled)="closeUpdateCollectionStatusModal()"
    (statusUpdateSuccessful)="closeUpdateCollectionStatusModal(); refetchCollections()"
    ></app-update-collection-status>
}
