<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="'Collect payment for invoice'"
  (nzOnCancel)="paymentCollectionCancelled.emit()"
>
  <ng-template nzModalContent>
    <form nz-form [formGroup]="invoiceForm" (ngSubmit)="collectPayment()">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="invoiceNumber"
        >Invoice Number
        </nz-form-label
        >
        <nz-form-control>
          <input
            nz-input
            formControlName="invoiceNumber"
            id="invoiceNumber"
          />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="amountDue"
        >Amount Due
        </nz-form-label
        >
        <nz-form-control>
          <input nz-input formControlName="amountDue" id="amountDue" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="amount"
        >Amount Paid
        </nz-form-label
        >
        <nz-form-control [nzErrorTip]="amountErrorTpl">
          <nz-input-number
            formControlName="amount"
            id="amount"
            [nzMin]="1"
            [nzDisabled]="invoiceForm.get('fullAmount')?.value"
          ></nz-input-number>
          <ng-template #amountErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')"
            >Please enter a valid amount.
            </ng-container
            >
          </ng-template>
        </nz-form-control>
        <nz-form-control>
          <label nz-checkbox formControlName="fullAmount"
          >Collect Full Amount</label
          >
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
  <ng-template nzModalFooter>
    <button nz-button (click)="paymentCollectionCancelled.emit()">Cancel</button>
    <button
      nz-button
      nzType="primary"
      (click)="collectPayment()"
      [nzLoading]="isLoading"
    >
      Collect Payment
    </button>
  </ng-template>
</nz-modal>
